<!-- contact.html -->

{% extends 'base.html' %}
{% block content %}

<main class="bg-gray-100 py-20 h-96">
  <div class="container mx-auto ">
    
    <h2 class="text-3xl font-bold text-center mb-8">ติดต่อเรา</h2>
    <div class="cols-1">
      <div>
        <div class="container text-center">
        <h3 class="text-xl font-semibold mb-4">ข้อมูลติดต่อ</h3>
        <p class="mb-2"><span class="font-semibold">ที่อยู่:</span> มหาวิทยาลัยอุบลี่ชธานี</p>
        <p class="mb-2"><span class="font-semibold">โทรศัพท์:</span> 000-000-0000</p>
        <p class="mb-2"><span class="font-semibold">อีเมล:</span> veerachot.ro.64@ubu.ac.th</p>
      </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
