{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-center " style="font-family:serif">
    <div class="container mt-10">
        <div class="text-center text-2xl font-bold">
            <p>รายการรับรถ</p>
        </div>
        {% for list_order in list_orders %}
            
                <div class="grid grid-cols-1 gap-5 border mt-5 p-5 rounded-lg shadow-slate-400 shadow-lg">
                    <a href="" class="hover: scale-y-110">
                        <div class="p-2 border-zinc-800 rounded-lg shadow-emerald-600 shodow-sm">
                            <p>รูปภาพ: <img src="{{ list_order.image.url }}" width="100"></p>
                            <p>ผู้เรียกรถ: {{ list_order.profile.user.username }}</p>
                            <p>วันที่เรียก: {{ list_order.created_at }}</p>
                            <p>ที่อยู่: {{ list_order.address }}</p>
                            <p>สถานะ: {{ list_order.status }}</p>
                        </div>
                    </a>
                    <div>
                        <form action="{% url 'toggle_status' list_order.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">{% if list_order.status == 'กำลังดำเนินการ' %}เรียกรถ{% else %}ยกเลิก{% endif %}</button>
                        </form>
                    </div>
                </div>
            
                
        {% endfor %}
    </div>
</div>
{% endblock %}
