{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-center " style="font-family: kanit;">
    <div class="mt-10 mb-10">
        <div class="text-center text-2xl font-bold">
            <p>รายละเอียดการจอง</p>
        </div>
        
        <div class="p-2 border-zinc-800 rounded-lg shadow-emerald-600 shodow-sm">
            <p>ผู้เรียกรถ : {{ order.profile.user.username }}</p>
            <p class="text-sm">วันที่เรียก:{{ order.created_at }}</p>
            <p class="text-sm">ที่อยู่:{{ order.address }}</p>
            <p class="text-sm">สถานะ:{{ order.status }}</p>
            
            <div class="text-center mt-5">
                <img src="{{ order.image.url }}" alt="" class="min-w-full h-69 object-cover rounded-2xl shadow-teal-900 shadow-lg">
            </div>
            <p class="m-5 text-xl font-bold">รายการ

            </p>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;ขวด<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;ถุง<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;ลัง<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;กระดาษ<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;ขวดแก้ว<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <div class="p-2">
                <input type="checkbox" name="" id="" checked>&nbsp;กระป๋อง<input type="text"
                    class="text-sm mx-10 border rounded-lg p-1.5 " placeholder="กรอกน้ำหนัก"> กิโลกรัม
            </div>
            <p class="mt-5 text-xl font-bold">อัพเดทสถานะ

            </p>
            <div class="p-2 ">
                <select name="" id="" class="border rounded-lg p-1.5 px-10">
                    <option value="">รอดำเนินการ</option>
                    <option value="">กำลังเข้ารับ</option>
                    <option value="">รับแล้ว</option>
                    <option value="">ตรวจสอบ</option>
                    <option value="">รอชำระเงิน</option>
                    <option value="" class="bg-green-500">เสร็จสิ้น</option>
                    <option vvalue="" class="bg-red-700 text-white">ยกเลิก</option>

                </select>
            </div>
            <div class="flex justify-center mt-5 mb-10">
                <div class="grid grid-cols-2 gap-5 w-96">
                    <button class="p-2 border bg-slate-950 rounded-lg text-white hover:scale-105">ย้อนกลับ</button>
                    <button
                        class="p-2 border bg-blue-900 rounded-lg text-white hover:scale-105">บันทึกการเปลี่ยนแปลง</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}