<!-- home.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<section class="bg-cover bg-center h-screen items-center text-white" style="background-color: rgb(255, 255, 255);">
    <main class="container mx-auto py-8 text-black">
        <section class="text-center mb-8">
            <h2 class="text-4xl font-bold mb-4">ยินดีต้อนรับสู่ Recycle Factory</h2>
            <p class="text-lg">เราพร้อมที่จะรับซื้อขยะรีไซเคิลของคุณ</p>
        </section>

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-black  ">
            <!-- Card 1 -->
            <div class="bg-white rounded-lg shadow-md p-6 border-2  ">
                <h3 class="text-xl font-semibold mb-2" >ประเภทขยะที่รับซื้อ</h3>
                <ul class="list-disc pl-6 ">
                    <li>พลาสติก</li>
                    <li>กระดาษ</li>
                    <li>โลหะ</li>
                    <li>และอื่นๆ</li>
                </ul>
            </div>

            <!-- Card 2 -->
            <div class="bg-white rounded-lg shadow-md p-6 border-2 ">
                <h3 class="text-xl font-semibold mb-2">วิธีการขายขยะ</h3>
                <p class="mb-2">1. นำขยะมาที่สถานที่ของเรา</p>
                <p class="mb-2">2. นัดหมายกับเจ้าหน้าที่</p>
                <p class="mb-2">3. ตรวจสอบและชำระเงิน</p>
            </div>

            <!-- Card 3 -->
            <div class="bg-white rounded-lg shadow-md p-6 border-2">
                <h3 class="text-xl font-semibold mb-2">ประโยชน์ของการรับซื้อขยะ</h3>
                <ul class="list-disc pl-6">
                    <li>สร้างรายได้เสริม</li>
                    <li>ส่งเสริมการรักษาสิ่งแวดล้อม</li>
                    <li>สนับสนุนการรีไซเคิล</li>
                </ul>
            </div>
        </section>
    </main>

    <!-- Button to go to sell garbage form -->
    <div class="text-center mt-8">
        <a href="{% url 'recycle_purchase' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ขายขยะ</a>
    </div>

    <!-- Link to view recycle list -->
    <div class="text-center mt-8">
        <a href="{% url 'list_order' %}" class="text-blue-500 hover:text-blue-700 font-semibold">ดูรายการขายขยะ</a>
    </div>
</section>

{% endblock %}
