{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="flex justify-center " style="font-family:serif">
    <div class="container mt-10">
        <div class="text-center text-2xl font-bold">
            <p>รายการรับรถ</p>
        </div>
        {% for list_order in list_orders %}
            
                <div class="grid grid-cols-1 gap-5 border mt-5 p-5 rounded-lg shadow-slate-400 shadow-lg">
                    <a href="{% url 'order_detail' list_order.id %}" class="hover: scale-y-110">
                        <div class="p-2 border-zinc-800 rounded-lg shadow-emerald-600 shodow-sm">
                            <p>ลำดับ: {{ forloop.counter }}</p>
                            <p>ชื่อผู้ใช้: {{ list_order.profile.first_name }} {{ list_order.profile.last_name }}</p>
                            <p>ที่อยู่: {{ list_order.address }}</p>
                            <p>สถานะ: {{ list_order.status }}</p>
                        </div>
                    </a>
                </div>
            
        {% endfor %}
    </div>
</div>
{% endblock %}
