<!-- cfidentity.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mx-auto px-4 py-8 ">
    <div class="max-w-2xl mx-auto bg-white rounded p-6 bg">

        <h2 class="text-2xl font-bold mb-4 text-center">รอตรวจสอบยืนยัน</h2>
        {% if nofirm %}
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
            <!-- Card 1 -->
            {% for f in nofirm %}
            <a href="{% url 'editestate' f.id %}" class="hover:scale-105">
                <div class=" rounded-lg shadow p-6 border bg-yellow-200">
                    <h2 class="text-lg font-bold mb-2">{{ f.first_name }} {{f.last_name}}</h2>
                    <p class="text-gray-600">สถานะ :
                        {% if f.status == False %}
                        รอตรวจสอบยืนยัน
                        {% endif %}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
        <h2 class="text-2xl font-bold mb-4 text-center mt-4">ยืนยันตัวตนแล้ว</h2>
        {% if firm %}
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
            <!-- Card 1 -->
            {% for f in firm %}
            <a href="{% url 'editestate' f.id %}" class="hover:scale-105">
            <div class=" rounded-lg shadow p-6 border bg-green-300">
                <h2 class="text-lg font-bold mb-2">{{ f.first_name }} {{f.last_name}}</h2>
                <p class="text-gray-600">สถานะ :
                    {% if f.status == True %}
                    ยืนยันตัวตนแล้ว
                    {% endif %}
                </p>
            </div>
            </a>
            {% endfor %}

        </div>
        {% endif %}
        <h2 class="text-2xl font-bold mb-4 text-center mt-4">ไม่ผ่านยืนยันตัวตน</h2>

        {% if cancel %}

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
            <!-- Card 1 -->
            {% for f in cancel %}
            <a href="{% url 'editestate' f.id %}" class="hover:scale-105">
            <div class=" rounded-lg shadow p-6 border bg-red-200 ">
                <h2 class="text-lg font-bold mb-2">{{ f.first_name }} {{f.last_name}}</h2>
                <p class="text-gray-600">สถานะ :
                    {% if f.cancel == True %}
                    ไม่ผ่านยืนยันตัวตน
                    {% endif %}
                </p>
            </div>
            </a>
            {% endfor %}

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}